{% load static %}

<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Specials</h2>
        <p>Check Our Specials</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            {% for item in specials %}
            <li class="nav-item">
              <a  class="nav-link show" data-toggle="tab" href="#tab-{{forloop.counter}}">{{item.name}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            {% for item in specials %}
            <div class="tab-pane show" id="tab-{{forloop.counter}}">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>{{item.title}}</h3>
                  <p class="font-italic">{{item.description}}</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="{% static 'img/specials-1.png' %}" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>

    </div>
  </section>