{% load static %}

<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Reservation</h2>
        <p>Book a Table</p>
      </div>

      <form action="{% url 'index' %}" method="post" role="form" class="email-form">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-lg-4 col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" value="{{value.name}}">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" value="{{value.email}}">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group">
            <input type="number" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars" value="{{value.phone}}">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group">
            <input type="date" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars" value="{{value.date}}">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group">
            <input type="time" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars" value="{{value.time}}">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group">
            <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars" value="{{value.number}}">
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
          <div class="validate"></div>
        </div>
        <div class="text-center"><button type="submit">Book a Table</button></div>
      </form>

    </div>
  </section>